<form action="{% url 'program:stworz_plik'%}" method="post" enctype="multipart/form-data">
    Wybierz podkatalog
    <br>
    {% csrf_token %}
    {% for katalog in katalogi%}
    <input type="radio" name="rodzic" id="{{ katalog.id }}" value="{{ katalog.id }}">
    <label for="{{ katalog.id }}">{{ katalog.nazwa }}</label><br>
    {% endfor %}
    <input type="radio" name="rodzic" id = "0" value = "0">
    <label for ="0" name ="rodzic"> Niezależny plik</label><br>
    {% csrf_token %}
<input type="file"
    name="nazwa"
    accept=".c">
    <input type="submit" value="Dodaj">
</form>